<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/6ebcc3722b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/frontpage.css}" href="../static/css/frontpage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script   src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <title>Forside</title>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div id="content">
            <h1>Ships And Sails The GAME!</h1>
            <h3>Bring your A game or losse in the battle </h3>
            <div class="btn-group-vertical ">
                <a class="btn btn-dark btn-lg" href="/board">Play</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                        Brig <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><button class="btn btn-dark btn-lg">Ship of the Line</button></li>
                        <li><button class="btn btn-dark btn-lg">Man at War</button></li>
                    </ul>
                </div>
                <button class="btn btn-dark btn-lg"  type="submit">High Score</button>
                <button class="btn btn-dark btn-lg"  type="submit">Settings</button>
                <button class="btn btn-dark btn-lg"  type="submit">Credits</button>

            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>