<!--Lavet af Joakim-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/test.css}" href="../static/css/test.css" type="text/css">
</head>
<body>

<div class="game window">
    <h1 id="header_content">Ship and Sails Ohio!</h1>
    <div class="game_window_left">
        <section class="hex-grid-frame">
            <tr th:each="hex: ${list}">
                <div class="hex">
                    <span class="test" th:onclick="|sendCoord(${hex.position.x}, ${hex.position.y})|" th:value="${hex.getPosition().x}">
                        <img th:src="@{/img/Brig_transparent_small.png}"  src="../static/img/Brig_transparent_small.png" height="20px" width="80px"
                            th:if="${hex.getPosition().x == ship1.getPosition().x && hex.getPosition().y == ship1.getPosition().y}" alt="ship">
                        <img th:src="@{/img/Brig_transparent_small.png}"  src="../static/img/Brig_transparent_small.png" height="20px" width="80px"
                            th:if="${hex.getPosition().x == ship2.getPosition().x && hex.getPosition().y == ship2.getPosition().y}" alt="ship">
                    </span>
                </div>
            </tr>
        </section>
    </div>
    <div class="game_window_right">
        <div class="text_info">
            <!-- TODO lave så den skifter skip information i forhold til hvilken player det er -->
            <!-- Lige nu er ship2 sat ind som standart -->
            <h2>Ship</h2>
            <h2 th:text="${ship2.getName()}"></h2>
            <h2>Speed</h2>
            <h3 th:text="${ship2.getSpeed()}"></h3>
            <h2>HP</h2>
            <h3 th:text="${ship2.getHullQuality()}"></h3>
            <h2>Sejl</h2>
            <h3 th:text="${ship2.getSailQuality()}"></h3>
            <h2>Kanoner</h2>
            <h3 th:text="${ship2.getAmountOfGuns()}"></h3>
        </div>
        <div class="info">
            <p>Ship information</p>
            <label for="p1moves">Player 1 moves:</label>
            <span id="p1moves" th:text="${ship1.getSpeed()}"></span>
            <span th:text="${'Direction: ' + ship1.getDirection()}"></span><br>
            <label for="p2moves">Player 2 moves:</label>
            <span id="p2moves" th:text="${ship2.getSpeed()}"></span>
            <span th:text="${'Direction: ' + ship2.getDirection()}"></span><br>
            <label for="turnplayer">Turn player:</label>
            <span id="turnplayer" th:text="${turnplayer}"></span>
        </div>
        <div>
            <button onclick="send()">End turn</button>
            <button onclick="end()">End round</button>
        </div>
    </div>
</div>

<script th:inline="javascript">


    var coords = [];
    var coords2 = [];

    /*<![CDATA[*/
        coords.push(/*[[${ship1.getId()}]]*/);
        coords2.push(/*[[${ship2.getId()}]]*/);
    /*]]>*/

    $(document).ready(function () {
        $("span").on('click', function(){
            var tplayer = $("#turnplayer");

            if (tplayer.text() === "ship1") {
                var p1movesleft = $("#p1moves").text();
                var p1count = Number(p1movesleft);
                if (p1count > 0) {
                    $(this).css({backgroundColor: 'yellow'});
                    if (p1movesleft !== "0") {
                        var moves = p1movesleft;
                        $("#p1moves").text(moves - 1);
                    }
                }
            }
            else if (tplayer.text() === "ship2") {
                var p2movesleft = $("#p2moves").text();
                var p2count = Number(p2movesleft)
                if (p2count > 0) {
                    $(this).css({backgroundColor: 'green'});
                    if (p2movesleft !== "0") {
                        var moves2 = p2movesleft;
                        $("#p2moves").text(moves2 - 1);
                    }
                }
            }
        });
    });

    function sendCoord(posx, posy) {
        var tplay = $("#turnplayer").text();
        if (tplay === "ship1") {
            var p1moves = $("#p1moves");
            if (p1moves.text() === "0") {
                alert("You have no more moves left")
                return;
            }
            coords.push(posx);
            coords.push(posy);
        }
        else if (tplay === "ship2") {
            var p2moves = $("#p2moves");
            if (p2moves.text() === "0") {
                alert("You have no more moves left")
                return;
            }
            coords2.push(posx);
            coords2.push(posy);
        }
    }

    function send() {
        var tplayer = $("#turnplayer");
        if (tplayer.text() === "ship1") {
            tplayer.text("ship2");
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/movement", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(coords);
        }
        else if (tplayer.text() === "ship2"){
            tplayer.text("ship1")
            var xhttp2 = new XMLHttpRequest();
            xhttp2.open("POST", "/movement", true);
            xhttp2.setRequestHeader("Content-type", "application/json");
            xhttp2.send(coords2);
        }
    }

    function end() {
        location.reload();
    }
</script>

</body>
</html>