<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/test.css}" href="../static/css/test.css" type="text/css">
    <!--<meta http-equiv="refresh" content="30">-->
</head>
<body>

<section class="hex-grid-frame">
    <tr th:each="hex: ${list}">
        <div class="hex">
            <span class="test" th:onclick="|showme(${hex.position.x}, ${hex.position.y})|" th:value="${hex.getPosition().x}">
                <img th:src="@{/img/Brig_transparent_small.png}"  src="../static/img/Brig_transparent_small.png" height="20px" width="80px" alt="ship"
                     th:hidden="${!(hex.getPosition().x == ship.getStartPos().x && hex.getPosition().y == ship.getStartPos().y)}"/>
            </span>
        </div>
    </tr>
</section>
<div>
    <button onclick="send()">End turn</button>
</div>
<div class="moves">
    <p>Info</p>
    <span id="moves" th:text="${'Turns left ' + ship.getSpeed()}"></span>
    <span th:text="${'Direction: ' + ship.getDirection()}"></span>
</div>

<script th:inline="javascript">
    var coords = [];
    var actionBool;
    /*<![CDATA[*/
    coords.push(/*[[${ship.getId()}]]*/);
    /*]]>*/
    function showme(posx, posy) {
        /*var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/movement", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(posx + " + " + posy + " + " + shipid);*/
        var movesdiv = $("#moves");
        if (movesdiv.text() === "0") {
            alert("You have no more moves left")
            return;
        }
        coords.push(posx);
        coords.push(posy);
        var moves = movesdiv.text();
        movesdiv.text(moves - 1);
        alert(posx + ", " + posy);
    }
    function send() {
        actionBool = 1;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/movement", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        coords.push(actionBool);
        xhttp.send(coords);
    }
</script>

</body>
</html>